@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazir-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazir-Black.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans: "Vazirmatn", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

html[dir="rtl"] {
  direction: rtl;
  font-family: "Vazirmatn", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1023px){
  body{
    padding-bottom: 84px; /* space for the sticky call bar */
  }
}
