---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MobileCallBar from '../components/MobileCallBar.astro';
import '../styles/global.css';
---

<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/images/favicon.svg" type="image/svg+xml" />
    <slot name="head" />
  </head>

  <body class="bg-black text-white">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <MobileCallBar />
  </body>
</html>
