---
import Header from '../components/Header.astro';
import '../styles/global.css';
---

<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <slot name="head" />
  </head>

  <body class="bg-black text-white">
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
